.message{
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 25px;
    color: #ffffff;
    padding: 20px;
    background-color: #9933cc;
}

th, tr, label{
    font-size: 25px;
}
nav a {
    font-size: 25px;
    margin-right: 30px;
}
