/*GÉNÉRAL*/

main{
    padding: 0 100px 100px 100px;
}
.title{
    text-align: center;
    font-family: Oswald;
    font-size: 40px;
    padding: 40px 40px 0px 40px;
}

/*FLEX DES DEUX DIV*/

.cart{
    display: flex;
    margin: 100px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*LISTE DÉTAILLÉ DU CONTENU DU PANIER*/

.list_product{
    width: 60%;
}

table{
    box-shadow: 8px 8px 12px #aaa;
    padding: 10px;
    font-family: Lato;
    width: 100%;
}

thead td:nth-child(1) {
    width: 20%;
}

thead td:nth-child(2) {
    width: 35%;
    font-size: 25px;
    font-weight: 600;
    color: #067BC2;
}

thead td:nth-child(3) {
    width: 20%;
    font-size: 18px;
}

thead td:nth-child(4) {
    width: 15%;
    color: #FED447;
    font-size: 30px;
    font-weight: 700;
}

th, td {
    padding: 20px;
}

img{
    width: 100px;
}

/*BOUTON SUPPRESSION D'UN ARTICLE DU PANIER'*/

.delete{
    background-color: #d22749;
    outline: 0;
    border: none;
    padding: 10px;
}

.delete:hover{
    background-color: #a4a4a4;
}

a{
    text-decoration: none;
    color: white;
}

/*TABLEAU RÉCAPITULATIF DU MONTANT TOTAL DU PANIER*/

.recap_product{
    width: 30%;
    box-shadow: 8px 8px 12px #aaa;
}

.recap_name{
    font-family: Poppins;
    font-size: 30px;
    padding-left: 30px;
}

.recap_product p{
    padding: 30px 50px;
    font-family: Lato;
    font-size: 30px;
    text-align: center;
    font-weight: 300;
}

.recap_product div{
    text-align: center;
}
.recap_product div img{
    width: 50%;
    margin-bottom: 50px;
}

.total{
    font-size: 40px;
    font-weight: bold;
}


/*PAGE PANIER VIDE*/

.empty_cart{
    text-align: center;
    margin-top: 100px;
}
.empty_cart img{
    width: 80px;
}

.empty_cart h3{
    font-family: Lato;
    font-size: 50px;
    color: #000000;
    font-weight: 300;
}


.empty_cart button{
    background-color: #d22749;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;

}
.empty_cart a{
    text-decoration: none;
    color: white;
    font-family: Poppins;

    font-size: 30px;
}



/*EFFET BOUTON HOVER*/

.jump {
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: all .3s ease 0s;
}

.jump:hover {
    background-color: #FED447;
    box-shadow: 0 15px 20px rgba(211, 182, 48, 0.29);
    transform: translateY(-7px);
}

.jump2 {
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: all .3s ease 0s;
    margin: 0 auto 50px auto;
    font-size: 25px;
    display: block;
    padding: 20px;
    font-family: Poppins;
    width: 70%;
    background-color: #dfdfdf;
    border: none;
}

.jump2 a{
    color: black;
}

.jump2:hover {
    background-color: #969696;
    box-shadow: 0 15px 20px rgba(177, 177, 177, 0.41);
    transform: translateY(-7px);
}

.jump3 {
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: all .3s ease 0s;
    margin: 0 auto 50px auto;
    font-size: 25px;
    display: block;
    padding: 20px;
    font-family: Poppins;
    width: 70%;
    border: none;
    background-color: black;
}

.jump3:hover {
    background-color: #d22749;
    box-shadow: 0 15px 20px rgba(255, 0, 56, 0.29);
    transform: translateY(-7px);
}

/*RESPONSIVE*/

@media (max-width: 1000px) {
    .recap_product{
        text-align: center;
    }

}

/*MESSAGE CONFIRMATION*/

.message{
    text-align: center;
    font-family: Poppins;
    width: 100%;
    background-color: #d4d4d4;
    font-size: 30px;
    padding: 20px 10px;
}

@media (max-width: 900px) {

    .list_product{
        width: 100%;
    }
    .recap_product{
        width: 100%;
    }
    .delete a{
        font-size: 10px;
    }
    img{
        width: 50px;
    }
    main {
        padding: 10px 0;
    }
    .cart{
       margin: 30px 0;
        flex-direction: column;
    }
    table{
        padding: 5px;
        width: 100%;
    }
    thead td{
        font-size: 15px;
    }

    th, td{
        padding: 2px;
    }

    .cart {
        display: block;
    }

    .list_product {
        width: 100%;
        margin-bottom: 40px;
    }

    .recap_product {
        width: 100%;
        padding: 10px 0
    }
    .title {
        font-size: 25px;
        padding: 5px 0;
    }
    .recap_name{
        font-size: 17px;
        padding: 10px;
    }
    .recap_product p{
        padding: 10px 20px;
        font-size: 15px;
    }
    .recap_product button{
       font-size: 15px;
        margin: 0 auto 20px auto;
    }
    thead td:nth-child(1) {
        width: 0%;
    }

    thead td:nth-child(2) {
        width: 35%;
        font-size: 13px;
        font-weight: 600;
    }

    thead td:nth-child(3) {
        width: 20%;
        font-size: 9px;
    }

    thead td:nth-child(4){
        font-size: 12px;
        width: 10%;
    }
    .empty_cart{
        margin-top: 10px;
    }
    .empty_cart h3{
        font-size: 20px;
    }
    .empty_cart a{
        font-size: 20px;
    }
    main{
        margin-bottom: 50px;
    }
    .message{
        font-size: 20px;
    }
}

