/*GÉNÉRAL*/

main{
    padding: 0 100px 80px 100px;
}

/*TITRE ET SOUS TITRE */

.title{
    text-align: center;
    font-family: Oswald;
    font-size: 40px;
    padding: 40px 40px 0px 40px;
}

.subtitle{
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 70px;
}



/*ACCORDEON DES QUESTIONS / RÉPONSES */

.accordion {
    font-family: Lato;
    font-weight: 700;
    box-shadow: 8px 8px 12px #aaa;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 28px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #e9e9e9;
}

.accordion:after {
    content: '\002B';
    color: #000000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

p{
    font-size: 28px;
    font-family: Lato;
    font-weight: 400;
}

.others{
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    padding-top: 40px;
    font-weight: 400;
}

/*REPONSIVE*/

@media (max-width: 900px) {
    main{
        padding: 0 20px 80px 20px;
    }
    .accordion{
        font-size: 20px;
    }
    .title{
        font-size: 25px;
        padding: 40px 10px 0px 10px;
    }

    .subtitle{
        font-size: 22px;
    }
    p{
        font-size: 20px;
    }
    .others{
        font-size: 18px;
    }
}