.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 100px;

}

@media (max-width: 900px){
    .container{
        flex-direction: column;
    }
}
.container h2{
    font-family: Oswald;
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
}

.container p{
    text-align: center;
    font-family: Lato;
    font-size: 25px;
    font-weight: 200;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container button{
    display: block;
    margin: 0 auto;
    font-family: Lato;
    font-size: 30px;
    padding: 20px 40px;
    color: white;
    border: none;
    background-color: black;
}

.container button a{
    text-decoration: none;
    color: white;
}

form{
    text-align: center;
}

.container .connexion form input{
    padding: 20px 100px;
    margin-bottom: 70px;
    text-align: center;
    font-family: Lato;
    background-color: white;
    font-size: 25px;
    border: none;
    box-shadow: 8px 8px 12px #aaa;
}

.message h3{
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    color: #3B97F3;
}