/*GÉNÉRAL*/

main{
    padding: 0 100px 80px 150px;
}


.title{
    text-align: center;
    font-family: Oswald;
    font-size: 40px;
    padding: 40px 40px 0px 40px;
}

.subtitle{
    text-align: center;
    font-family: Lato;
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 70px;
}

/*LES ABONNEMENTS*/

.plans{
    display: flex;
    justify-content: space-around;
}

.plans{
    font-family: Lato;
}

.plans div{
    box-shadow: 8px 8px 12px #aaa;
    padding: 30px;
}
.plans h2{
    color: #fedd00;
    font-weight: 600;
    text-align: center;
    font-size: 40px;
}

.plans hr{
    margin: 0 20px;
}

.plans h4{
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

.plans h3{
    color: #1893f3;
    font-size: 40px;
    text-align: center;
    font-weight: 800;
}

.plans p{
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
}

.plans button{
    background-color: #d22749;
    padding: 20px;
    border: none;
    text-align: center;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.plans select{
    display: block;
    padding: 10px;
    margin: 30px auto;
    font-size: 25px;
}

.plans button a{
    text-decoration: none;
    color: white;
    font-size: 30px;

}


/*RESPONSIVE*/

@media(max-width: 900px){
    main{
        padding: 0 10px 80px 10px;
    }
    .title{
        font-size: 25px;
        padding: 40px 10px 0px 10px;
    }

    .subtitle{
        font-size: 17px;
        padding-bottom: 20px;
    }
    .plans{
        flex-direction: column;
    }
    .plans div{
        margin-top: 50px;
    }
    .plans h2{
        font-size: 22px;
    }
    .plans h4{
        font-size: 20px;
    }

    .plans h3{
        color: #1893f3;
        font-size: 30px;
        text-align: center;
        font-weight: 800;
    }

    .plans p{
        font-size: 19px;
        text-align: center;
        margin-bottom: 50px;
        font-weight: 400;
    }
    .plans button a{
        font-size: 23px;
    }
    .message{
        font-size: 20px;
    }

}
/*MESSAGE CONFIRMATION*/

.message{
    text-align: center;
    font-family: Poppins;
    width: 100%;
    background-color: #d4d4d4;
    font-size: 30px;
    padding: 20px 10px;
}